/* Optional styles (not required by the plugins!) */	
body {
	font-family: "Century Gothic", "Apple Gothic", sans-serif;
	font-size: 16px;
	background-image: url(stripe.png);
	background-attachment: fixed;
	color: Black;
	margin: 0;
}

a {
	color: Blue;
}

a:hover {
	color: Green;
}

h1 {
	font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
	display: block;
	width: 960px;
	padding: 20px 0;
	margin: 20px auto;
	font-size: 3em;
	font-weight: normal;
}

h2, h3, h4, h5, h6 {
	font-family: Cambria, Georgia, Times, “Times New Roman”, serif;
	font-size: 2em;
	font-weight: normal;
}

#links {
	width: 960px;
	margin: 0 auto;
	text-align: right;
}

#header {
	width: 100%;
	background-image: url(alpha.png);
	color: #F2F0F0;
}

#maincontent {
	width: 960px;
	margin: 0 auto 20px auto;
	padding: 0 20px 20px 20px;
	background-image: url(alphalight.png);
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
}

dl {
	margin-left: 50px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0px 450px 20px 30px;
}